/* Set up colours */
:root{
    --colour-1:#d69e3d;
    --colour-2:#966f2c;
    --bg-colour:#f3f0e9;
    --linear-gradient: rgba(0, 0, 0, 0.6)
}

body{
    background-color: var(--bg-colour);
}

/* Border-box */
*, *::before, *::after {
    box-sizing: border-box;
  }

/* Set up fonts */

/* Mobile: */
h1{
    font-size: 2.027rem;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
} 
h2{
    font-size: 1.802rem;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
}
h3{
    font-size: 1.424rem;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
}
p{
    font-size: 1rem;
    font-family: "Karla", sans-serif;
}

/* Class styling */

.unstyledList, .unstyledList li, .unstyledList a{
    list-style: none;
    text-decoration: none;
}

a.buttonFilled{
    background-color: white;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem 2rem;
    text-align: center;
    margin: 1rem;
    border: solid white 2px;
    display: inline-block;
    font-family: "Karla", sans-serif;
    font-weight: 900;
}

a.buttonGhost{
    background-color: rgba(0, 0, 0, 0);
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem 2rem;
    text-align: center;
    margin: 1rem;
    border: solid white 2px;
    display: inline-block;
    font-family: "Karla", sans-serif;
    font-weight: 900;
}

.subHeading{
    color: var(--colour-1);
    text-transform: uppercase;
}

/* Mobile Styling */

.wrapper{
    max-width: 400px;
    margin: 0 auto;
}

/* Begings styling nav */

header{
    background-color: black;
    padding: 0;
    margin: 0;
}

nav #navContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-transform: uppercase;
}

header #logoContainer ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

header a{
    color: white;
}

/* begins hero styling */
#home {
    text-align: center;
    background-color: black;
    color: white;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: -webkit-linear-gradient(var(--linear-gradient), var(--linear-gradient)), url("/images/hero-background.jpg");
    background: linear-gradient(var(--linear-gradient), var(--linear-gradient)), url("/images/hero-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#home .wrapper{
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#home h1{
    text-transform: uppercase;
}

/* begins styling welcome */
#welcome #visit{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* begins styling menu and locations teaser*/
#menuLocationTeaser{
    height: 500px;
    background: -webkit-linear-gradient(var(--linear-gradient), var(--linear-gradient)), url("/images/coffee-shop.jpeg");
    background: linear-gradient(var(--linear-gradient), var(--linear-gradient)), url("/images/coffee-shop.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* text */
    color: white;
    text-align: center;
}
